.cover__link {
  color: var(--main-text);
  text-decoration: none;
  width: 100%;
  min-height: calc((100vw - 96px) * 0.625);
  max-height: 840px; /* ограничение по максимальной высоте 840px, т.к. максимальная ширина body=1440px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc((100vw - 96px) * 0.625);
  background-color: var(--main-back);
  opacity: 0.3;
  transition: all 0.4s linear;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    width: 100%;
    min-height: 62.5vw;
  }

  .cover__link::before {
    min-height: 62.5vw;
  }
}
