.photo-grid {
  width: calc(100% - 96px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .photo-grid {
    width: calc(100% - 48px);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .photo-grid {
    width: calc(100% - 32px);
    grid-template-columns: 1fr;
  }
}
