.header {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(100% - 32px);
  }
}
