.content__intro {
  align-self: flex-start;
  margin: 92px auto 92px 148px;
}

@media screen and (max-width: 1130px) {
  .content__intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 900px) {
  .content__intro {
    margin: 88px auto;
  }
}

@media screen and (max-width: 700px) {
  .content__intro {
    margin: 59px auto 69px;
  }
}
