.intro {
  width: 690px;
}

@media screen and (min-width: 1281px) {
  .intro {
    width: 54%;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 32px);
  }
}
