.cover {
  width: calc(100% - 96px);
  height: calc((100vw - 96px) * 0.625);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  cursor: pointer;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc((100vw - 96px) * 0.625);
  background-color: var(--main-back);
  opacity: 0.3;
  transition: all 0.4s linear;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
    height: 62.5vw;
  }

  .cover::before {
    height: 62.5vw;
  }
}
