.lead__img {
  width: 100%;
  height: auto;
  margin: 64px auto 8px;
}

@media screen and (max-width: 1130px) {
  .lead__img {
    margin-top: 56px;
  }
}

@media screen and (max-width: 720px) {
  .lead__img {
    margin-top: 40px;
  }
}
