.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0 auto 32px;
}

@media screen and (max-width: 560px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 16px;
    max-width: 288px;
  }
}
