.footer {
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 720px) {
  .footer {
    width: max-content;
    flex-direction: column;
    gap: 48px;
  }
}
