.root__footer {
  margin: 92px auto 24px;
}

@media screen and (max-width: 900px) {
  .root__footer {
    margin-top: 88px;
  }
}
@media screen and (max-width: 720px) {
  .root__footer {
    margin-top: 64px;
    margin-left: 16px;
  }
}
